@charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font:14px/1 Microsoft YaHei,"\5b8b\4f53",sans-serif;}
body{color:#222;}
ol,ul,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
a:link{text-decoration:none;color:#222;}
a:visited{color:#222;}
a:hover{color:#222;text-decoration:none;}
a{outline:none;}
a:active{color:#222;star:expression(this.onFocus=this.blur());}
:focus{outline:0;}
a:hover{cursor:pointer;}
.clear{clear:both;font-size:0;height:0;overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{content:'*';height:0;display:block;visibility:hidden;clear:both;}
.none{display:none;}
.footer{padding:15px 0;text-align:center;line-height:18px;color:#999;font-size:12px;bottom:0;margin:0 auto;margin-left:180px;background:#ecf2f5;}
.footer p{margin-bottom:10px;}
.footer a,.footer a:link,.footer a:visited{color:#999;}
/*页面样式*/
.cen{width:1000px;margin:0 auto;clear:both;}
.left_float{float:left;}
.right_float{float:right;}
.fl{float:left;}
.fr{float:right;}
.f12{ font-size: 12px;}
.lh26{ line-height: 26px;}
.red{color:#f00;}
.gray{color:#999;}
.c-333{ color: #333;}
.c-666{ color: #666;}
.blue{ color: #107aee;}
.m10{ margin: 0 10px;}
.ml10{margin-left:10px;}
.ml22{margin-left:22px;}
.mr10{margin-right:10px;}
.mt20{margin-top:20px;}
.w140{ width: 140px;}
.w160{ width: 162px;}
.w240{ width: 240px;}
.w260{ width: 262px;}
.w428{ width: 428px;}
.w866{ width: 866px;}
input.date {background: url("../images/date.png") no-repeat scroll right center; cursor: pointer;  }
/*弹出层*/
#filter{filter:alpha(opacity=20);opacity:0.20;background:#000;position:absolute;width:100%;top:0;left:0;z-index:9;}
.alert{background:url(../images/alert_title_bg.png) no-repeat left top #fff;position:fixed;padding:0 20px;}
.alert .title{font-size:16px;height:46px;line-height:46px;border-bottom:1px solid #ccc;}
.alert .pop_body{padding:10px 20px;max-height:460px;overflow-y:auto;}
.alert .title a{float:right;background:url(../images/close.png) 0 0 no-repeat;width:17px;height:16px;margin:16px 0px 0 0;filter:alpha(opacity=30);opacity:0.30;}
.alert .title a:hover{filter:alpha(opacity=100);opacity:1;}
.alert .dialog{text-align:center;padding:40px 0 10px 0;font-size:16px;}
.alert .dialog b{color:#ff6333;margin:0 6px;}
.alert .btnbox{text-align:center;margin:20px 0 30px;}
.alert .btn{margin:0;height:32px;line-height:32px;padding:0 37px;margin-right:10px;}
.alert .btn a{margin:0 9px;display:inline-block;height:26px;line-height:26px;padding:0 22px;color:#fff;border-radius:3px;box-shadow:0 0 3px #ddd;color:#fff;}
.alert .btn .save_btn{background:#29bff2;border:1px solid #29bff2;}
.alert .btn .save_btn:hover{background:#6cb2f7;background:-webkit-linear-gradient(#2388fd,#6cb2f7);background:-o-linear-gradient(#2388fd,#6cb2f7);background:linear-gradient(#2388fd,#6cb2f7);}
.alert .btn .clear_btn{background:#f4f4f4;background:-moz-linear-gradient(top,#fff,#f4f4f4);background:-webkit-linear-gradient(top,#fff,#f4f4f4);background:-o-linear-gradient(top,#fff,#f4f4f4);border:1px solid #c8c8c8;color:#555;}
.alert .btn .clear_btn:hover{background:#f4f4f4;background:-webkit-linear-gradient(#f4f4f4,#fff);background:-o-linear-gradient(#f4f4f4,#fff);background:linear-gradient(#f4f4f4,#fff);}
.alert .btn a:hover{text-decoration:none;}
/*消息提示tips*/
.msgbox_layer,.msgbox_layer .icon,.msgbox_layer .icon_clear,.msgbox_layer .icon_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background:url(../images/gb_tip_layer.png) no-repeat;}
.msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:9999;padding-left:22px;}
.msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.msgbox_layer .icon{width:45px;position:absolute;left:-45px;top:0;}
.msgbox_layer .success{background-position:-6px 0;}
.msgbox_layer .icon_end{width:6px;background-position:0 0;position:absolute;right:-6px;top:0;}
.msgbox_layer .error{background-position:-6px -108px;}
.msgbox_layer .warn{background-position:-6px -54px;}
.msgbox_layer .icon_clear{background-position:-6px 0;width:5px;position:absolute;top:0;left:-5px;}
.msgbox_layer .loading{width:16px;height:16px;border:0;background-image:url(../images/loading.gif);float:left;margin:19px 10px 0 5px;}
/*分页-start*/
.page{margin-top:10px;}
.page .right{line-height:24px;float:right;}
.page a.prev{background:url(../images/arrow-prev.png) no-repeat center center;margin:0 12px;padding:0 15px;}
.page a.next{background:url(../images/arrow-next.png) no-repeat center center;margin:0 12px;padding:0 20px 0 15px;}
.page a.disable{background-position:0 -23px;cursor:not-allowed;color:#ccc;}
.page input{margin:0 6px;width:12px;cursor:inherit;}
.page a.go{margin-left:10px;}
.page .button{height:24px;line-height:24px;cursor:pointer;vertical-align:middle;border:1px solid #c6cad1;border-radius:2px;display:inline-block;padding:0 13px;}
.page input{margin:0 6px;width:12px;cursor:inherit;}
.page a.go:hover{color:#1c57ac;}
.page_v1{line-height:24px;margin:30px 0;font-size:12px;}
.page_v1 span.disabled{display:none}
.page_v1 a{background-color:#fff;border:1px solid #ddd;cursor:pointer;margin-left:6px;padding:3px 8px;}
.page_v1 a:hover{text-decoration:none;color:#094391;border-color:#094391;}
.page_v1 span{padding:4px 9px;margin-left:6px;color:#555;}
.page_v1 span.cur{background-color:#1078ee;color:#fff;}
.page_v1 a.pages-goto:link,.page_v1 a.pages-goto:visited{background-color:#eee;border:medium none;color:#555;padding:4px 14px;}
.page_v1 .ell{padding:0 3px;}
.page_v1 .total em{margin:0 3px;}
.page_v1 span input{width:33px;margin:0 10px;text-align:center;line-height:23px;height:23px;border:1px solid #cacdd4;}
/*分页-end*/
/*left-start*/
.left{position:fixed;left:0;width:180px;background:#fff;height:100%;border-right:1px solid #c5ced2;}
.left .left_top{width:180px;text-align:center;margin-bottom:20px;}
.left .left_top img{margin-top:15px;margin-bottom:15px;}
.left .left_top p{color:#353737;font-size:15px;}
.left ul>li{clear:both;font-size:14px;color:#9a9ea8;padding:10px 0px 10px 20px;font-weight:bold;}
.left ul>li a{color:#9a9ea8;}
.left ul li .left_icon{display:inline-block;float:left;width:16px;height:16px;background:url(../images/left_icon.png) no-repeat;margin-right:18px;}
.left ul li .icon1{background-position:-16px -116px;}
.left ul li .icon2{background-position:0px -116px;}
.left ul li .icon3{background-position:-16px -32px;}
.left ul li .icon4{background-position:-16px -48px;}
.left ul li:hover .icon1{background-position:0px 0px;}
.left ul li:hover .icon2{background-position:0px -16px;}
.left ul li:hover .icon3{background-position:0px -32px;}
.left ul li:hover .icon4{background-position:0px -48px;}
.left ul li:hover{color:#29bff2;}
.left ul li div{clear:both;margin-top:10px;}
.left ul li div a{font-weight:normal;background:url(../images/left_icon.png) no-repeat;background-position:0px -84px;display:block;text-decoration:none;font-size:14px;color:#9fa3ae;height:32px;line-height:32px;margin-left:30px;padding-left:15px;}
.left ul li.current{color:#31b4e0;background:#ecf9fe;}
.left ul li.current a.active{color:#31b4e0;}
.left ul li.current div a.active,.left ul li a:hover{color:#31b4e0;text-decoration:none;background-position:0px -64px;}
.left ul li.current .icon1{background-position:0px 0px;}
.left ul li.current .icon2{background-position:0px -16px;}
.left ul li.current .icon3{background-position:0px -32px;}
.left ul li.current .icon4{background-position:0px -48px;}
/*left-end*/
/*右边头部-start*/
.header{height:64px;}
.header .header_l{float:left;}
.header .header_l span.title{color:#595a5a;float:left;font-size:22px;height:64px;line-height:64px;margin-left:30px;}
.header .header_l span.time{color:#595a5a;font-size:14px;margin-left:20px;line-height:66px;}
.user{color:#595a5a;font-size:14px;margin-right:22px;}
.user a{text-decoration:none;display:block;font-size:14px;}
.user span.caret{display:inline-block;width:12px;height:16px;vertical-align:middle;background:url("../../public/images/left_icon.png") -18px -16px no-repeat;margin-left:14px;}
.header .user{float:right;}
.wim_main{margin-left:180px;}
.header .user a.dropdown_toggle{border:1px solid #e0eaef;padding:23px 9px 23px 9px;}
.header .user .dropdown_menu{position:absolute;border:1px solid #e0eaef;}
.header .user .dropdown_menu li a{display:block;width:141px;height:46px;line-height:46px;color:#686969;font-size:12px;background:#fff;text-align:center;vertical-align:middle;}
.header .user .dropdown_menu li a:hover{color:#29bff2;background:#eef7fa;}
/*右边头部-end*/
/*卡片页-start*/
.box-item{margin-top:2.4%;}
.box-item ul{padding-bottom:44px;}
.box-item ul li{float:left;width:30%;background:#fff;margin-left:2.5%;margin-top:2%;box-shadow:0px 2px 6px rgba(156,189,206,.24)}
/*卡片页-end*/
/*搜索框-start*/
div.search_div{float:left;margin:15px 0px 0px 30px;}
div.search_div .search_input{border:1px solid #d5d8dc;border-radius:2px 0px 0px 2px;font-size:14px;color:#999;height:30px;line-height:30px;padding-left:10px;width:248px;float:left;background:#fff;}
div.search_div .search_btn{border:1px solid #d5d8dc;border-radius:0px 2px 2px 0px;font-size:14px;color:#595a5a;display:block;height:30px;line-height:30px;text-align:center;float:left;border-left:none;padding:0px 16px 0px 16px;background:#fff;}
div.search_div .search_btn:hover{cursor:pointer;color:#fff;background:#3cc8f8;}
/*搜索框-end*/
/*弹出框样式*/
.linkman_form{padding:20px 3px 0px 30px;font-size:14px;color:#595a5a;}
.linkman_form li{padding:7px 0;}
.linkman_form li label{width:84px;display:inline-block;text-align:right;margin-right:20px;}
.linkman_form li label span{line-height:30px;height:30px;color:#353737;}
.linkman_form li select{border:1px solid #dddee0;height:30px;line-height:30px;padding-left:10px;width:150px;color:#999;}
.linkman_form label em{color:#f00;vertical-align:middle;margin-right:5px;}
.linkman_form input{line-height:30px;height:30px;border:1px solid #dddee0;width:250px;padding-left:10px;color:#999;}
.del_box{background:url(../images/warn.png) no-repeat;font-size:20px;line-height:35px;margin:40px auto;padding-left:85px;width:200px;}
.del_box p{font-size:14px;color:#999;}
.web_con_alert{background:#eaeeef;padding-left:30px;min-height:80px;}
.web_con_alert p{color:#353737;font-size:14px;}
.web_con_alert p.p_space{padding:28px 0px 8px 0px;}
.web_con_alert p a{color:#29bff2;}
/*确定取消按钮样式*/
.btn a{display:block;font-size:14px;border-radius:4px;width:80px;height:30px;line-height:30px;text-align:center;}
.btn a.save_btn{background:#29bff2;color:#fff;}
.btn a.clear_btn{border:1px solid #dddee0;}
/*下拉框*/
.select{position:relative;display:inline-block;vertical-align:middle;}
.select.w262{width:262px;}
.select-input{background:#fff url("../images/arrow.png") no-repeat scroll right center;border:1px solid #c7c7c7;border-radius:2px;cursor:pointer;height:34px;line-height:34px;overflow:hidden;padding:0 20px 0 10px;width:auto;}
.select-input.focus{border:1px solid #c6cad1;background:#fff url("../images/arrow-up.png") right center no-repeat;}
.select-list{position:absolute;left:0;border:1px solid #c6cad1;box-shadow:0 2px 6px rgba(13,5,9,0.16);background:#fff;display:none;margin-top:-3px;max-height:230px;overflow:hidden;overflow-y:auto;}
.select-list li{cursor:pointer;line-height:32px !important;height:32px;display:block;overflow:hidden;margin:0 !important;color:#333;padding-left:10px;}
.select-list li:hover,.select-list li.cur{background-color:rgba(15,119,239,.04);color:#0e78ee;}
/*logo*/
.logo_div{height:35px;line-height:35px;border-bottom:1px solid #ddd;}
.logo_div .logo_div_left{float:left;color:#999;font-size:12px;}
.logo_div .logo_div_right{float:right;font-size:12px;}
.logo_div .logo_div_right .fl{float:left;}
.logo_div .logo_div_right a{display:block;float:left;font-size:14px;}
.logo_div .logo_div_right a:hover{color:#094391;}
.logo_div .logo_div_right a.blue{color:#0469ad;}
.logo_div .logo_div_right a.sina{width:20px;height:16px;margin-top:10px;margin-right:20px;background:url(../images/icon.png) 0px -32px no-repeat;}
.logo_div .logo_div_right a.sina:hover{background:url(../images/icon.png) no-repeat;}
.logo_div .logo_div_right a.tencent{width:20px;height:16px;margin-top:10px;margin-right:20px;background:url(../images/icon.png) 0px -48px no-repeat;}
.logo_div .logo_div_right a.tencent:hover{background:url(../images/icon.png) 0px -16px no-repeat;}
.logo_div .logo_div_right a.v_line{color:#ccc;}
.logo_div .logo_div_right a.apply{margin-left:13px;margin-top:10px;width:80px;height:24px;line-height:24px;text-align:center;color:#fff;background:#4273c0;}
/*banner*/
.banner_bg{height:220px;background:url(../images/banner.png) no-repeat center top;}
.banner_bg .banner{height:129px;margin:0 auto;width:980px;}
.banner_bg .banner a.logo{float:left;margin:20px 0 0;}
.banner_bg .right_float{color:#fff;font-size:12px;margin:20px 0 0;}
.banner_bg .right_float a{font-weight:bold;color:#fff;}
.banner_bg .banner ul{float:right;height:88px;margin:10px 22px 0 0;}
.banner_bg .banner li{float:left;font-size:14px;height:88px;}
.banner_bg .banner li a{border-right:1px solid #eee;display:inline-block;height:56px;margin-top:14px;padding:0 20px;}
.banner_bg .banner li a:hover{color:#0368ad;}
.banner_bg .banner li em{background:url(../images/menu_icons.png) no-repeat 2px 0;width:34px;height:34px;display:block;margin:-2px auto 10px;}
.banner_bg .banner li em.icon2{background-position:-94px 0;}
.banner_bg .banner li em.icon3{background-position:-189px 0;}
.banner_bg .banner li em.icon4{background-position:-288px 0;}
.banner_bg .banner li em.icon5{background-position:-384px 0;}
.banner_bg .banner li.last a{border-right:none;}
.banner_bg .banner li.on{background-color:#0469ad;}
.banner_bg .banner li.on a{border-color:transparent;color:#fff;}
.banner_bg .banner li.on em{background-position:2px -44px;}
.banner_bg .banner li.on em.icon2{background-position:-94px -44px;}
.banner_bg .banner li.on em.icon3{background-position:-189px -44px;}
.banner_bg .banner li.on em.icon4{background-position:-288px -44px;}
.banner_bg .banner li.on em.icon5{background-position:-384px -44px;}
/*menu*/
.menu{background:url(../images/menu_bg.png) repeat-x;height:91px;}
.menu ul{padding:0 15px;}
.menu li{float:left;position:relative;}
.menu a.tit{color:#fff;display:block;float:left;font-size:16px;height:50px;line-height:50px;text-align:center;padding: 0 20px;}
.menu a.tit:hover,.menu li.on > a.tit{background-color:#f6ab01;height:55px;line-height:59px;margin-top:-5px;}
.menu .menu_down{height:40px;left:-56px;line-height:40px;margin-top:50px;position:absolute;width:410px;z-index:1000;display:none;}
.menu .menu_down.w250{width:210px;}
.menu .menu_down.w460{width:510px;}
.menu .menu_down.w462{width: 505px;left: -215px;}
.menu .menu_down a{color:#666;display:block;float:left;font-size:14px;padding:0 25px;text-align:center;}
.menu .menu_down a:last-child{padding-right:0;}
.menu .menu_down a:hover,.menu .menu_down a.on{color:#107aee;}
.menu li.on .menu_down{display:block;}
.search_div{float:right;border:1px solid #ccc;height:20px;line-height:20px;border-radius:10px;}
.search_div input{border-radius:10px;color:#aaa;float:left;font-size:12px;height:20px;line-height:20px;outline:medium none;padding:0 14px;background:none;}
.search_div a.sear_btn{margin:4px 10px 0 2px;border:none;background:url(../images/icon.png) 0px -64px no-repeat;width:12px;height:12px;display:block;float:left;}
.search_div a.sear_btn.active{background:url(../images/icon.png) 0px -76px no-repeat;}
.search_div.sear_click{border:1px solid #094391;}
.search_div:hover{border:1px solid #094391;}
.search_div:hover a.sear_btn{background:url(../images/icon.png) 0px -76px no-repeat;}
/*footer*/
.login_footer{border-top:1px solid #e8e8e8;height:176px;}
.login_footer .login_footer_top{padding-top:24px;}
.login_footer .login_footer_top ul.left_float{width:230px;margin-left:10px;}
.login_footer .login_footer_top img{float:left;margin-top:10px;}
.login_footer .login_footer_top ul li{float:left;}
.login_footer .login_footer_top ul li h1{color:#555;font-size:16px;height:36px;line-height:36px;font-weight:bold;}
.login_footer .login_footer_top ul li p{color:#555;font-size:12px;height:24px;line-height:24px;margin:0;}
.login_footer .login_footer_top ul li p a{color:#555;}
.login_footer .login_footer_top ul li p a:hover{color:#222;}
.login_footer .login_footer_top ul.right_float{margin-top:15px;width:252px;}
.login_footer .login_footer_top ul.right_float li p a{color:#5f5f5f;}
.login_footer .login_footer_top .contant{float:right;width:243px;margin-top:18px;}
.login_footer .login_footer_top .contant div{background:url(../images/phone.png) bottom left no-repeat;margin-bottom:14px;}
.login_footer .login_footer_top .contant div p.p1{font-size:28px;color:#006fc0;margin-bottom:4px;padding-left:54px;}
.login_footer .login_footer_top .contant div p.p2{font-size:14px;color:#555;margin:0;padding-left:55px;}
.login_footer .login_footer_top .contant p.p3{font-size:12px;color:#555;height:22px;line-height:22px;}
.login_footer .login_footer_bot{margin-bottom:66px;}
.login_footer .login_footer_bot p{color:#5f5f5f;font-size:14px;text-align:center;margin:0 auto 20px;}
.logo_div .logo_div_right a.admin{font-size:12px;color:#094391;font-weight:bold;}
.logo_div .logo_div_right a.goin{margin-left:13px;margin-top:5px;padding:0 20px;height:24px;line-height:24px;text-align:center;color:#fff!important;background-color:#0469ad;font-size:12px;}
.login_footer .login_footer_top .code-div{}
.login_footer .login_footer_top .code-div li p{float:left;width:26px;word-wrap:break-word;word-break:nomal;height:104px;background:#efefef;font-size:14px;color:#999;text-align:center;line-height:20px;}
.login_footer .login_footer_top .code-div img{margin-top:0px;margin-left:4px;}
.foot{line-height:68px;text-align:center;color:#999;font-size:12px;}
/*首页头部新增*/
.top-tips{background:url(../images/tips.png) no-repeat 20px center #f7f7f7;padding-left:58px;line-height:40px;}
.top-tips a.close{background:url(../images/close2.png) no-repeat;width:9px;height:9px;display:inline-block;float:right;margin:15px 18px 0 0;}
/*logo*/
.logo_div .logo_div_left{color:#333;}
.logo_div .logo_div_left a:hover{color:#094391;}
.logo_div .logo_div_left a.v_line{color:#333;}
.logo_div .logo_div_right a.ser{font-size:12px;color:#222;padding:0px 14px;}
/*悬浮框*/
.fixed{position:fixed;right:0;width:218px;bottom:20px;}
.fixed a{display:block;width:46px;height:46px;border:1px solid #ccc;border-radius:4px;margin:0px 0px 2px 170px;background:url(../images/fix_icon.png) no-repeat #fff;}
.fixed a#phone{background-position:10px -24px;}
.fixed a#email{background-position:10px 13px;}
.fixed a#email:hover{background:url(../images/fix_icon.png) 10px -148px no-repeat #0184cd;}
.fixed a#returnTop{background-position:10px -102px;}
.fixed a#returnTop:hover{background:url(../images/fix_icon.png) 10px -65px no-repeat #0184cd;}
.fixed .hov_phone{position:absolute;width:158px;height:46px;line-height:46px;border-radius:4px;color:#fff;font-size:20px;background:url(../images/phone_icon.png) 25px 10px no-repeat #757575;padding-left:60px;top:50px;display:none;}
.fixed .p:hover .hov_phone{display:block;}
.fixed .p:hover a#phone{cursor:pointer;}
.column_con .column_menu{float:left;width:217px;clear:both;}
.column_con .column_menu ul li{line-height:40px;margin:0 8px 8px;background:url("../images/icons.png") no-repeat scroll 40px 12px;}
.column_con .column_menu ul li.menu_tit{background:url("../images/menu_tit_bg.png") no-repeat scroll 0 0;color:#fff;font-size:18px;height:43px;line-height:43px;margin:0 0 8px;text-align:center;}
.column_con .column_menu ul li.menu_tit a{color:#fff!important;padding-left:0;}
.column_con .column_menu ul li a{color:#222;display:block;padding-left:70px;}
.column_con .column_menu ul li a:hover{color:#107aee;}
.column_con .column_menu ul li.active{background-color:#1078ee;background-position:40px -19px;}
.column_con .column_menu ul li.active a{color:#fff;}
.column_con .column_menu ul li a.drop.down{background:url(../images/down.png) no-repeat 172px center;}
.column_con .column_menu ul li a.drop{background:url(../images/drop.png) no-repeat 172px center;}
.column_con .column_menu ul li dl{background:#fff;display:none;}
.column_con .column_menu ul li dl dd{line-height:30px;}
.column_con .column_menu ul li.active dl dd.on a{color:#107aee;}
.column_con .column_menu ul li.active dl dd a{font-size:12px;color:#555;}
h1.column_tit{color:#999;font-size:12px;border-top:none;height:42px;line-height:42px;width:990px;margin:0 auto;overflow:hidden;}
h1.column_tit a{color:#999;}
h1.column_tit a:hover{color:#555;}
h1.column_tit span{color:#555;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:67%;vertical-align:top;}
