<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hugedata.spark.commons.storage.mapper.PtNoticeBannerMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hugedata.spark.commons.storage.entity.PtNoticeBanner" >
    <id column="IMAGE_ID" property="imageId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="BRIEF" property="brief" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="PREVIEW_FILE_ID" property="previewFileId" jdbcType="VARCHAR" />
    <result column="PREVIEW_FILE_NAME" property="previewFileName" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="SORT_INDEX" property="sortIndex" jdbcType="INTEGER" />
    <result column="IS_VISIBLE" property="isVisible" jdbcType="BIT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Map_Where_Clause" >
    <if test="null != imageId" >
      and pnb.IMAGE_ID = #{imageId}
    </if>
    <if test="null != ne_imageId" >
      and pnb.IMAGE_ID != #{ne_imageId}
    </if>
    <if test="null != list_imageId" >
      and pnb.IMAGE_ID in (<foreach collection="list_imageId" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != name" >
      and pnb.NAME = #{name}
    </if>
    <if test="null != ne_name" >
      and pnb.NAME != #{ne_name}
    </if>
    <if test="null != like_name" >
      and pnb.NAME like CONCAT('%', #{like_name}, '%')
    </if>
    <if test="null != list_name" >
      and pnb.NAME in (<foreach collection="list_name" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_name" >
      and pnb.NAME &gt;= #{begin_name}
    </if>
    <if test="null != end_name" >
      and pnb.NAME &lt;= #{end_name}
    </if>
    <if test="null != title" >
      and pnb.TITLE = #{title}
    </if>
    <if test="null != ne_title" >
      and pnb.TITLE != #{ne_title}
    </if>
    <if test="null != like_title" >
      and pnb.TITLE like CONCAT('%', #{like_title}, '%')
    </if>
    <if test="null != list_title" >
      and pnb.TITLE in (<foreach collection="list_title" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_title" >
      and pnb.TITLE &gt;= #{begin_title}
    </if>
    <if test="null != end_title" >
      and pnb.TITLE &lt;= #{end_title}
    </if>
    <if test="null != brief" >
      and pnb.BRIEF = #{brief}
    </if>
    <if test="null != ne_brief" >
      and pnb.BRIEF != #{ne_brief}
    </if>
    <if test="null != like_brief" >
      and pnb.BRIEF like CONCAT('%', #{like_brief}, '%')
    </if>
    <if test="null != list_brief" >
      and pnb.BRIEF in (<foreach collection="list_brief" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_brief" >
      and pnb.BRIEF &gt;= #{begin_brief}
    </if>
    <if test="null != end_brief" >
      and pnb.BRIEF &lt;= #{end_brief}
    </if>
    <if test="null != categoryId" >
      and pnb.CATEGORY_ID = #{categoryId}
    </if>
    <if test="null != ne_categoryId" >
      and pnb.CATEGORY_ID != #{ne_categoryId}
    </if>
    <if test="null != like_categoryId" >
      and pnb.CATEGORY_ID like CONCAT('%', #{like_categoryId}, '%')
    </if>
    <if test="null != list_categoryId" >
      and pnb.CATEGORY_ID in (<foreach collection="list_categoryId" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_categoryId" >
      and pnb.CATEGORY_ID &gt;= #{begin_categoryId}
    </if>
    <if test="null != end_categoryId" >
      and pnb.CATEGORY_ID &lt;= #{end_categoryId}
    </if>
    <if test="null != fileId" >
      and pnb.FILE_ID = #{fileId}
    </if>
    <if test="null != ne_fileId" >
      and pnb.FILE_ID != #{ne_fileId}
    </if>
    <if test="null != like_fileId" >
      and pnb.FILE_ID like CONCAT('%', #{like_fileId}, '%')
    </if>
    <if test="null != list_fileId" >
      and pnb.FILE_ID in (<foreach collection="list_fileId" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_fileId" >
      and pnb.FILE_ID &gt;= #{begin_fileId}
    </if>
    <if test="null != end_fileId" >
      and pnb.FILE_ID &lt;= #{end_fileId}
    </if>
    <if test="null != fileName" >
      and pnb.FILE_NAME = #{fileName}
    </if>
    <if test="null != ne_fileName" >
      and pnb.FILE_NAME != #{ne_fileName}
    </if>
    <if test="null != like_fileName" >
      and pnb.FILE_NAME like CONCAT('%', #{like_fileName}, '%')
    </if>
    <if test="null != list_fileName" >
      and pnb.FILE_NAME in (<foreach collection="list_fileName" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_fileName" >
      and pnb.FILE_NAME &gt;= #{begin_fileName}
    </if>
    <if test="null != end_fileName" >
      and pnb.FILE_NAME &lt;= #{end_fileName}
    </if>
    <if test="null != previewFileId" >
      and pnb.PREVIEW_FILE_ID = #{previewFileId}
    </if>
    <if test="null != ne_previewFileId" >
      and pnb.PREVIEW_FILE_ID != #{ne_previewFileId}
    </if>
    <if test="null != like_previewFileId" >
      and pnb.PREVIEW_FILE_ID like CONCAT('%', #{like_previewFileId}, '%')
    </if>
    <if test="null != list_previewFileId" >
      and pnb.PREVIEW_FILE_ID in (<foreach collection="list_previewFileId" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_previewFileId" >
      and pnb.PREVIEW_FILE_ID &gt;= #{begin_previewFileId}
    </if>
    <if test="null != end_previewFileId" >
      and pnb.PREVIEW_FILE_ID &lt;= #{end_previewFileId}
    </if>
    <if test="null != previewFileName" >
      and pnb.PREVIEW_FILE_NAME = #{previewFileName}
    </if>
    <if test="null != ne_previewFileName" >
      and pnb.PREVIEW_FILE_NAME != #{ne_previewFileName}
    </if>
    <if test="null != like_previewFileName" >
      and pnb.PREVIEW_FILE_NAME like CONCAT('%', #{like_previewFileName}, '%')
    </if>
    <if test="null != list_previewFileName" >
      and pnb.PREVIEW_FILE_NAME in (<foreach collection="list_previewFileName" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_previewFileName" >
      and pnb.PREVIEW_FILE_NAME &gt;= #{begin_previewFileName}
    </if>
    <if test="null != end_previewFileName" >
      and pnb.PREVIEW_FILE_NAME &lt;= #{end_previewFileName}
    </if>
    <if test="null != linkUrl" >
      and pnb.LINK_URL = #{linkUrl}
    </if>
    <if test="null != ne_linkUrl" >
      and pnb.LINK_URL != #{ne_linkUrl}
    </if>
    <if test="null != like_linkUrl" >
      and pnb.LINK_URL like CONCAT('%', #{like_linkUrl}, '%')
    </if>
    <if test="null != list_linkUrl" >
      and pnb.LINK_URL in (<foreach collection="list_linkUrl" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_linkUrl" >
      and pnb.LINK_URL &gt;= #{begin_linkUrl}
    </if>
    <if test="null != end_linkUrl" >
      and pnb.LINK_URL &lt;= #{end_linkUrl}
    </if>
    <if test="null != sortIndex" >
      and pnb.SORT_INDEX = #{sortIndex}
    </if>
    <if test="null != ne_sortIndex" >
      and pnb.SORT_INDEX != #{ne_sortIndex}
    </if>
    <if test="null != list_sortIndex" >
      and pnb.SORT_INDEX in (<foreach collection="list_sortIndex" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != isVisible" >
      and pnb.IS_VISIBLE = #{isVisible}
    </if>
    <if test="null != ne_isVisible" >
      and pnb.IS_VISIBLE != #{ne_isVisible}
    </if>
    <if test="null != list_isVisible" >
      and pnb.IS_VISIBLE in (<foreach collection="list_isVisible" item="i" separator=",">#{i}</foreach>)
    </if>
    <if test="null != begin_createTime" >
      and pnb.CREATE_TIME &gt;= #{begin_createTime}
    </if>
    <if test="null != end_createTime" >
      and pnb.CREATE_TIME &lt;= #{end_createTime}
    </if>
  </sql>
  <sql id="Order_By_Clause" >
    <if test="null != order" >
      <trim prefix="order by " >
        <foreach collection="order" item="orderItem" separator="," >
          <if test="'imageId' == orderItem.column" >
            pnb.IMAGE_ID ${orderItem.dir}
          </if>
          <if test="'name' == orderItem.column" >
            pnb.NAME ${orderItem.dir}
          </if>
          <if test="'title' == orderItem.column" >
            pnb.TITLE ${orderItem.dir}
          </if>
          <if test="'brief' == orderItem.column" >
            pnb.BRIEF ${orderItem.dir}
          </if>
          <if test="'categoryId' == orderItem.column" >
            pnb.CATEGORY_ID ${orderItem.dir}
          </if>
          <if test="'fileId' == orderItem.column" >
            pnb.FILE_ID ${orderItem.dir}
          </if>
          <if test="'fileName' == orderItem.column" >
            pnb.FILE_NAME ${orderItem.dir}
          </if>
          <if test="'previewFileId' == orderItem.column" >
            pnb.PREVIEW_FILE_ID ${orderItem.dir}
          </if>
          <if test="'previewFileName' == orderItem.column" >
            pnb.PREVIEW_FILE_NAME ${orderItem.dir}
          </if>
          <if test="'linkUrl' == orderItem.column" >
            pnb.LINK_URL ${orderItem.dir}
          </if>
          <if test="'sortIndex' == orderItem.column" >
            pnb.SORT_INDEX ${orderItem.dir}
          </if>
          <if test="'isVisible' == orderItem.column" >
            pnb.IS_VISIBLE ${orderItem.dir}
          </if>
          <if test="'createTime' == orderItem.column" >
            pnb.CREATE_TIME ${orderItem.dir}
          </if>
        </foreach>
      </trim>
    </if>
  </sql>
  <sql id="Base_Column_List" >
    pnb.IMAGE_ID, pnb.NAME, pnb.TITLE, pnb.BRIEF, pnb.CATEGORY_ID, pnb.FILE_ID, pnb.FILE_NAME, 
    pnb.PREVIEW_FILE_ID, pnb.PREVIEW_FILE_NAME, pnb.LINK_URL, pnb.SORT_INDEX, pnb.IS_VISIBLE, 
    pnb.CREATE_TIME
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pt_notice_banner pnb
    where pnb.IMAGE_ID = #{imageId,jdbcType=INTEGER}
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from pt_notice_banner pnb
    <where >
      <include refid="Map_Where_Clause" />
    </where>
    <include refid="Order_By_Clause" />
  </select>
  <select id="countByMap" resultType="java.lang.Integer" parameterType="map" >
    select count(1)
    from pt_notice_banner pnb
    <where >
      <include refid="Map_Where_Clause" />
    </where>
  </select>
  <insert id="insertSelective" parameterType="cn.com.hugedata.spark.commons.storage.entity.PtNoticeBanner" >
    <selectKey resultType="java.lang.Integer" keyProperty="imageId" order="AFTER" >
      select @@identity
    </selectKey>
    insert into pt_notice_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      IMAGE_ID,
      <if test="name != null" >
        NAME,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="brief != null" >
        BRIEF,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="fileId != null" >
        FILE_ID,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="previewFileId != null" >
        PREVIEW_FILE_ID,
      </if>
      <if test="previewFileName != null" >
        PREVIEW_FILE_NAME,
      </if>
      <if test="linkUrl != null" >
        LINK_URL,
      </if>
      <if test="sortIndex != null" >
        SORT_INDEX,
      </if>
      <if test="isVisible != null" >
        IS_VISIBLE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{imageId,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="previewFileId != null" >
        #{previewFileId,jdbcType=VARCHAR},
      </if>
      <if test="previewFileName != null" >
        #{previewFileName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="isVisible != null" >
        #{isVisible,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from pt_notice_banner
    where IMAGE_ID = #{imageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByIds" >
    delete from pt_notice_banner where IMAGE_ID in 
    <foreach collection="list" item="id" open="(" separator="," close=")" >
      #{id}
    </foreach>
  </delete>
  <delete id="deleteByMap" >
    delete from pnb using (pt_notice_banner as pnb) 
    <where >
      <include refid="Map_Where_Clause" />
    </where>
  </delete>
  <update id="updateSelectiveById" parameterType="cn.com.hugedata.spark.commons.storage.entity.PtNoticeBanner" >
    update pt_notice_banner
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        BRIEF = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        FILE_ID = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="previewFileId != null" >
        PREVIEW_FILE_ID = #{previewFileId,jdbcType=VARCHAR},
      </if>
      <if test="previewFileName != null" >
        PREVIEW_FILE_NAME = #{previewFileName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        SORT_INDEX = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="isVisible != null" >
        IS_VISIBLE = #{isVisible,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IMAGE_ID = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateSelectiveByMap" parameterType="map" >
    update pt_notice_banner pnb
    <set >
      <if test="record.imageId != null" >
        IMAGE_ID = #{record.imageId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null" >
        BRIEF = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileId != null" >
        FILE_ID = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.previewFileId != null" >
        PREVIEW_FILE_ID = #{record.previewFileId,jdbcType=VARCHAR},
      </if>
      <if test="record.previewFileName != null" >
        PREVIEW_FILE_NAME = #{record.previewFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null" >
        LINK_URL = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null" >
        SORT_INDEX = #{record.sortIndex,jdbcType=INTEGER},
      </if>
      <if test="record.isVisible != null" >
        IS_VISIBLE = #{record.isVisible,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <where >
      <if test="null != map.imageId" >
        and pnb.IMAGE_ID = #{map.imageId}
      </if>
      <if test="null != map.list_imageId" >
        and pnb.IMAGE_ID in (<foreach collection="map.list_imageId" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.name" >
        and pnb.NAME = #{map.name}
      </if>
      <if test="null != map.like_name" >
        and pnb.NAME like '%' || #{map.like_name} || '%'
      </if>
      <if test="null != map.list_name" >
        and pnb.NAME in (<foreach collection="map.list_name" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.title" >
        and pnb.TITLE = #{map.title}
      </if>
      <if test="null != map.like_title" >
        and pnb.TITLE like '%' || #{map.like_title} || '%'
      </if>
      <if test="null != map.list_title" >
        and pnb.TITLE in (<foreach collection="map.list_title" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.brief" >
        and pnb.BRIEF = #{map.brief}
      </if>
      <if test="null != map.like_brief" >
        and pnb.BRIEF like '%' || #{map.like_brief} || '%'
      </if>
      <if test="null != map.list_brief" >
        and pnb.BRIEF in (<foreach collection="map.list_brief" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.categoryId" >
        and pnb.CATEGORY_ID = #{map.categoryId}
      </if>
      <if test="null != map.like_categoryId" >
        and pnb.CATEGORY_ID like '%' || #{map.like_categoryId} || '%'
      </if>
      <if test="null != map.list_categoryId" >
        and pnb.CATEGORY_ID in (<foreach collection="map.list_categoryId" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.fileId" >
        and pnb.FILE_ID = #{map.fileId}
      </if>
      <if test="null != map.like_fileId" >
        and pnb.FILE_ID like '%' || #{map.like_fileId} || '%'
      </if>
      <if test="null != map.list_fileId" >
        and pnb.FILE_ID in (<foreach collection="map.list_fileId" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.fileName" >
        and pnb.FILE_NAME = #{map.fileName}
      </if>
      <if test="null != map.like_fileName" >
        and pnb.FILE_NAME like '%' || #{map.like_fileName} || '%'
      </if>
      <if test="null != map.list_fileName" >
        and pnb.FILE_NAME in (<foreach collection="map.list_fileName" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.previewFileId" >
        and pnb.PREVIEW_FILE_ID = #{map.previewFileId}
      </if>
      <if test="null != map.like_previewFileId" >
        and pnb.PREVIEW_FILE_ID like '%' || #{map.like_previewFileId} || '%'
      </if>
      <if test="null != map.list_previewFileId" >
        and pnb.PREVIEW_FILE_ID in (<foreach collection="map.list_previewFileId" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.previewFileName" >
        and pnb.PREVIEW_FILE_NAME = #{map.previewFileName}
      </if>
      <if test="null != map.like_previewFileName" >
        and pnb.PREVIEW_FILE_NAME like '%' || #{map.like_previewFileName} || '%'
      </if>
      <if test="null != map.list_previewFileName" >
        and pnb.PREVIEW_FILE_NAME in (<foreach collection="map.list_previewFileName" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.linkUrl" >
        and pnb.LINK_URL = #{map.linkUrl}
      </if>
      <if test="null != map.like_linkUrl" >
        and pnb.LINK_URL like '%' || #{map.like_linkUrl} || '%'
      </if>
      <if test="null != map.list_linkUrl" >
        and pnb.LINK_URL in (<foreach collection="map.list_linkUrl" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.sortIndex" >
        and pnb.SORT_INDEX = #{map.sortIndex}
      </if>
      <if test="null != map.list_sortIndex" >
        and pnb.SORT_INDEX in (<foreach collection="map.list_sortIndex" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.isVisible" >
        and pnb.IS_VISIBLE = #{map.isVisible}
      </if>
      <if test="null != map.list_isVisible" >
        and pnb.IS_VISIBLE in (<foreach collection="map.list_isVisible" item="i" separator=",">#{i}</foreach>)
      </if>
      <if test="null != map.begin_createTime" >
        and pnb.CREATE_TIME &gt;= #{map.begin_createTime}
      </if>
      <if test="null != map.end_createTime" >
        and pnb.CREATE_TIME &lt;= #{map.end_createTime}
      </if>
    </where>
  </update>
</mapper>