@charset "utf-8";body{background-color:#f7f7f7;}
.wh{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;}
body{word-break:break-all;word-wrap:break-word;}
/*办事事项*/
.column_con{background-color:#fff;border:1px solid #e8e8e8;border-bottom:none;margin:0 auto;padding:0 20px 35px;width:960px;}
.column_con .column_list{border-left:1px solid #e8e8e8;float:right;min-height:500px;padding:0 20px;width:732px;}
.column_con h2.title{font-size:18px;line-height:30px;border-bottom:2px solid #ddd;margin-bottom:10px;padding:7px 0;position:relative;}
.column_con h2.title span.tips{color:#555;font-size:14px;margin-left:18px;}
.column_con h2.title a.return-btn{float:right;font-size:12px;color:#0e78ee;}
.column_con h2.title a.return-back{font-size:12px;color:#107aee;float:right;}
.column_con h2.title a.letter{position:absolute;right:0;top:6px;background:url(../images/hdjl_icons.png) no-repeat;color:#999;line-height:34px;padding-left:44px;height:34px;display:inline-block;font-size:14px;}
.column_con ul.reports_ul{border-bottom:2px solid #f5f5f5;padding-bottom:10px;min-height:560px;}
.column_con ul.reports_ul li{height:28px;line-height:28px;overflow:hidden;}
.column_con ul.reports_ul li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;}
.column_con ul.reports_ul li a:hover{color:#107aee;}
.column_con ul.reports_ul li a.w630{width:630px;}
.column_con ul.reports_ul li span{float:right;color:#999;font-size:12px;}
.column_con ul.reports_ul li span.disc{width:5px;height:5px;background:#107aee;border-radius:5px;display:block;float:left;margin:11px 10px 0px 10px;}
.column_con ul.reports_ul_all li a{width:80%;}
.column_con ul.reports_ul_all li span{display:inline-block;}
/*办事指南*/
.column_con .tab{border:1px solid #ccc;border-radius:2px;height:26px;line-height:26px;margin:0 10px 20px;display:inline-block;}
/*.column_con .tab.w347{width:347px;}
.column_con .tab.w434{width:434px;}
*/
.column_con .tab a{border-right:1px solid #ccc;display:inline-block;padding:0 15px;position:relative;}
.column_con .tab a:hover{color:#1078ee;}
.column_con .tab a:first-child{border-radius:2px 0 0 2px;}
.column_con .tab a:last-child{border-right:none;border-radius:0px 2px 2px 0;}
.column_con .tab a.on{background-color:#1078ee;color:#fff;}
.column_con .tab a span.red-dot{position:absolute;background:#ff0000;display:inline-block;width:8px;height:8px;border-radius:10px;right:-3px;top:-3px;}
.column_con .tab-content{border:1px solid #ddd;margin:0 10px;padding:0px 20px 20px;}
.column_con .tab-content h3.title{font-size:22px;text-align:center;line-height:70px;border-bottom:1px solid #ddd;margin-bottom:18px;position:relative;}
.column_con .tab-content h3.title a.btn{height:30px;line-height:30px;padding:0;width:80px;right:5px;top:20px;position:absolute;}
.column_con .tab-content h3.title a.return-btn{float:right;font-size:12px;color:#0e78ee;}
.column_con .tab-content h4.title{font-size:16px;margin-bottom:15px;position:relative;}
.column_con .tab-content h4.title a.btn{height:30px;line-height:30px;padding:0;width:80px;right:-5px;top:-6px;position:absolute;text-align:center;}
.column_con .tab-content .content h4{text-align:center;padding:17px 0 15px;}
.column_con .tab-content .content img{margin:0 auto;display:block;}
.column_con .tab-content .content .list{min-height:200px;}
.column_con .tab-content .content .list li{background:url(../images/download.png) no-repeat 10px 0;padding-left:45px;line-height:22px;margin-bottom:18px;}
.column_con .tab-content .content .list li a{color:#1078ee;font-size:16px;}
.column_con .tab-content-right{border:none;width:740px;float:right;border-left:1px solid #e8e8e8;padding:10px 0 20px 30px;margin-left:0;}
.column_con .tab-content-left{float:left;width:179px;}
.column_con .tab-content-right table td input{border:1px solid #b6b6b6;line-height:30px;width:140px;padding:0 8px;}
.column_con .tab-content-right table td input.w315{width:315px;}
.column_con .tab-content-right table td textarea{border:1px solid #b6b6b6;line-height:24px;padding:8px;width:519px;height:122px;}
.column_con .tab-content-right table td input:focus,.column_con .tab-content-right table td textarea:focus{border-color:#0f77ef;}
.column_con .tab-content-left dt{text-align:center;font-size:22px;padding:14px 0 22px;}
.column_con .tab-content-left dd{line-height:30px;}
.column_con .tab-content-left dd a{display:block;padding-left:45px;border-right:3px solid transparent;margin-right:-4px;z-index:100;}
.column_con .tab-content-left dd a:hover{color:#1078ee;}
.column_con .tab-content-left dd a.on{background-color:rgba(16,120,238,.1);color:#1078ee;border-right-color:#1078ee;}
.column_con .tab-content-left dd span{display:inline-block;text-align:right;width:31px;}
.column_con .tab-content-left dd em.icon{width:40px;height:19px;display:inline-block;vertical-align:middle;margin-left:8px;}
.column_con .tab-content-left dd em.checked{background:url(../images/checked.png);}
.column_con .tab-content-left dd em.check-wait{background:url(../images/check_wait.png);}
table.table{border-left:1px solid #ddd;border-top:1px solid #ddd;word-wrap:break-word;word-break:break-all;}
table.table td{border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:8px 10px;line-height:26px;}
table.table td.tit{text-align:center;font-weight:bold;background-color:#f5f5f5;width:88px;vertical-align:top;}
table.table td.tit em{color:#f00;width:12px;display:inline-block;text-align:left;vertical-align:middle;}
table.table td.tit i{color:#f00;font-weight:normal;}
table.table td.tit.w160{width:160px;}
table.table td.tit.w180{width:180px;text-align:left;}
table.table td p.des{height:130px;overflow:hidden;overflow-y:auto;}
/*在线办理*/
.pro-cont .row{height:30px;line-height:30px;margin-bottom:10px;}
.pro-cont .row label.title{color:#373636;display:inline-block;float:left;font-size:14px;margin-right:26px;text-align:right;width:150px;}
.pro-cont .row .txt{border:1px solid #b6b6b6;height:30px;line-height:30px;padding:0 14px;width:272px;float:left;}
.pro-cont .row .upload{background-color:#e4e8ed;border:1px solid #b6b6b6;color:#373636;float:left;line-height:28px;padding:0 8px;font-size:12px;vertical-align:middle;}
.pro-cont .row em{color:#555;display:inline-block;float:left;font-size:12px;margin-left:10px;}
.pro-cont .row em i{color:#1078ee;}
.pro-cont .btn-div{margin:0;text-align:left;height:32px;}
.pro-cont .btn-div .btn{height:32px;line-height:32px;border-radius:inherit;padding:0 22px;margin-left:176px;}
/*表格*/
.column_tab_con{margin:0px 10px;}
.column_tab_table tr td{font-size:14px;color:#222;border:1px solid #ddd;height:22px;line-height:22px;padding:8px 10px;}
.column_tab_table tr td.tit-td{background:#f5f5f5;color:#222;font-weight:bold;}
.column_tab_table thead tr td{font-weight:bold;background:#f5f5f5;}
.column_tab_table tbody tr td a:hover{color:#107aee;cursor:pointer;}
.column_tab_table tbody tr td .red-font{color:#ee1010;}
.column_tab_table tbody tr td .blue-font{color:#107aee;}
.column_tab_table tbody tr td .grey{color:#999;}
.column_tab_table tbody tr td a.op{cursor:pointer;width:19px;height:19px;display:inline-block;background:url(../images/icon.png) no-repeat -41px -35px;}
.column_tab_table tbody tr td a.op.op-del{background-position:0px -69px;width:14px;height:16px;}
.column_tab_table tbody tr td a.grey{color:#999;}
.column_tab_table tbody tr td a.grey:hover{color:#fe0000;}
.column_tab_table tbody tr:hover{background-color:rgba(15,119,239,.04);}
#tableOpList{height:410px;overflow:hidden;border-left:1px solid #ddd;}
.acol{width:132px;}
.bcol{width:90px;}
.ccol{width:170px;}
.dcol{width:170px;}
.ecol{width:85px;}
.fcol{width:85px;}
.gcol{width:60px;}
.tabnew ul{overflow:hidden;border-bottom:1px solid #ddd;}
.tabnew ul li{float:left;line-height:40px;display:block;height:40px;overflow:hidden;border-right:1px solid #ddd;padding:0 10px;}
.tabnew ul li a:hover,.tabnew ul li span.blue-font{color:#107aee;}
.filter-box{padding:20px 0px;}
.filter-box label{font-size:14px;color:#555;}
.filter-box input.txt{border:1px solid #b6b6b6;width:178px;height:30px;line-height:30px;font-size:12px;padding:0 10px;vertical-align:middle;}
.filter-box input.txt.w156{width:156px;}
.filter-box input.txt.mr20{margin-right:20px;}
.filter-box a.btn{height:32px;line-height:32px;padding:0 17px;vertical-align:middle;margin-left:10px;}
/*login*/
.logo-index{z-index:100;margin-left:20px;margin-top:20px;}
.logo-index .logo-index-right{float:right;margin-right:30px;margin-top:10px;}
.logo-index .logo-index-right a{font-size:18px;color:#fff;}
.logo-index .logo-index-right a.download-app{font-size:16px;}
.logo-index .logo-index-right a.download-app em.dlapp-icon{display:inline-block;width:21px;height:18px;background:url(../images/icon.png) no-repeat;margin-right:10px;float:left;}
.logo-index .logo-index-right a.internal-office{font-size:16px;border:1px solid #fff;padding:4px 11px;border-radius:16px;margin:0 40px;}
.slideImg{position:absolute;top:0;left:0;right:0;z-index:-999;min-width:1220px;}
.pageImg{width:100%;height:auto;margin:0 auto;left:0;right:0;position:absolute;}
.pageImg img{height:100%;width:100%}
.pageImg .txt{width:1206px;height:105px;margin:0 auto;position:absolute;top:26%;left:0px;right:0;}
.img1 .txt{background:url("../images/bg_txt1.png") center 0px no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
.indexNav{width:100%;height:90px;background:#032646;opacity:0.8;filter:alpha(opacity = 80);cursor:pointer;min-width:1220px;}
.indexNav ul{width:96%;height:90px;margin:0 auto;position:absolute;left:0;right:0;}
.indexNav ul li{float:left;width:14.2%;line-height:90px;text-align:center;}
.indexNav ul li a{text-decoration:none;color:#fff;font-size:22px;display:inline-block;}
.indexNav ul li a img{vertical-align:middle;margin-right:15px;width:40px;}
/*.indexNav ul li.nav0{margin-top:20px;}
.indexNav ul li.nav1{margin-top:16px;}
.indexNav ul li.nav2{margin-top:18px;}
.indexNav ul li.nav3{margin-top:16px;}
.indexNav ul li.nav4{margin-top:20px;}
.indexNav ul li.nav5{margin-top:24px;}
.indexNav ul li.nav6{margin-top:22px;}
*/
/*login-top*/
.login-container{overflow:hidden;}
.login-container .login-top{background-color:#024099;border:1px solid rgba(255,255,255,0.18);float:right;padding:24px 30px 30px 30px;position:relative;width:280px;margin-right:100px;border-top:3px solid #f6ab01;margin-top:83px;}
.login-container .login-top .login-logo{color:#fff;font-size:22px;}
.login-container .login-cont{padding:20px 0 0;}
.login-container .login-cont p{height:40px;line-height:40px;margin-bottom:10px;}
.login-container .login-cont p .txt{background:#072f5a;color:#999;font-size:14px;float:left;height:40px;line-height:40px;margin:0;outline:medium none;padding:0 14px;width:252px;}
.login-container .login-cont div.tips{font-size:14px;color:#d0d0d0;text-align:center;margin-top:20px;}
.login-container .login-cont div.tips a.res{color:#fff;}
.login-container .login-cont span{display:block;height:auto;overflow:hidden;padding:5px 0 20px 0;}
.login-container .login-cont span a{color:#fff;float:right;}
.login-btn{background-color:#0e78ee;color:#fff !important;display:block;font-size:16px;height:40px;line-height:40px;text-align:center;}
/*复选按钮*/
.checkbox{background:url("../images/checkbox_icons.png") no-repeat scroll 0 0;cursor:pointer;display:inline-block;height:14px;line-height:14px;margin-bottom:0;margin-top:0;padding-left:24px;margin-right:30px;vertical-align:middle;}
.checkbox.checked{background-position:0 -24px;}
.checkbox.radio{background-position:0 -47px;}
.checkbox.radio.checked{background-position:0 -71px;}
/*注册*/
.banner-container{width:1000px;margin:0 auto;height:56px;border-bottom:1px solid #ddd;}
.banner-container .logo1{float:left;margin:14px 50px 0px 10px;}
.banner-container .res-menu{float:left;}
.banner-container .res-menu a{color:#373636;font-size:14px;display:inline-block;height:56px;line-height:56px;padding:0 10px;}
.banner-container .right_float{float:right;}
.banner-container .right_float a{color:#373636;font-size:14px;margin-right:10px;line-height:56px;}
.res-content{width:1000px;margin:0 auto;}
.res-content h1.title{color:#373636;font-size:28px;text-align:center;line-height:84px;}
.res-content div.content-text{font-size:14px;color:#222;}
.res-content div.content-text h2.tit{line-height:48px;}
.res-content div.content-text p{line-height:16px;}
.btn-div{text-align:center;height:40px;margin:40px 0px 68px 0px;}
.btn-div.res-div{text-align:left;margin:20px 0px 68px 137px;}
.btn{background:#0e78ee;font-size:14px;color:#fff !important;border-radius:1px;padding:0px 46px;margin:0 5px;height:40px;line-height:40px;display:inline-block;}
.btn-grey{background-color:#e2e2e2;color:#555!important;}
.res-content .restip{color:#ff0000;font-size:12px;background:#fff5f5;width:642px;height:40px;line-height:40px;text-align:center;margin:0 auto;margin-bottom:10px;}
.res-content .restip a.close-btn{display:inline-block;width:11px;height:11px;background:url("../images/icon.png") -2px -21px no-repeat;float:right;margin:14px;}
.btn.small-btn{height:32px;line-height:32px;padding:0 20px;}
/*注册信息*/
.signup-cont{width:750px;float:left;border-right:1px solid #eee;}
.signup-cont h2{color:#373636;font-size:32px;margin-left:144px;margin-bottom:26px;}
.signup-cont .row{height:37px;line-height:37px;margin-bottom:10px;}
.signup-cont .row label.title{color:#222;display:inline-block;float:left;font-size:14px;margin-right:12px;text-align:right;width:130px;}
.signup-cont .row label.title i,.pro-cont .row label.title i{color:#F00;margin-right:10px;vertical-align:middle;}
.signup-cont .row .txt{border:1px solid #c7c7c7;border-radius:4px;height:35px;line-height:35px;padding:0 14px;width:232px;float:left;}
.signup-cont .row .txt.w168{width:168px;}
.signup-cont .row .txt.w270{width:270px;}
.signup-cont .row .info{color:#555;}
.signup-cont .row .info .checkbox{margin:0;}
.signup-cont .row .info a{color:#0469ad;}
.signup-cont .row em{color:#f00;display:inline-block;margin-right:10px;margin-left:10px;background:url(../images/warn.png) no-repeat left center;padding-left:25px;}
.signup-cont .row a.send-code{width:90px;height:33px;line-height:33px;text-align:center;color:#0e78ee;border:1px solid #c7c7c7;display:inline-block;margin-left:10px;vertical-align:middle;border-radius:4px;background-color:#f8f8f8;}
.signup-cont .row img.code{background-color:#f8f8f8;border:1px solid #c7c7c7;width:90px;height:33px;display:inline-block;margin-left:10px;vertical-align:middle;border-radius:4px;}
.signup-cont .checkbox{color:#222;font-size:14px;margin-right:20px;margin-top:12px;padding-left:28px;}
.signup-cont.signup-cont1{border:none;padding-left:206px;}
.res-login{font-size:14px;color:#222;padding-left:137px;}
.res-login a{color:#0e78ee;}
.success-block{width:620px;margin:0px auto;text-align:center;padding-top:100px;}
.success-block h2{background:url(../images/success2.png) no-repeat left center;line-height:40px;padding-left:54px;font-size:24px;margin-bottom:40px;}
/*footer*/
.index-footer{width:100%;height:100px;background:#003f9e;color:#cdcdcd;font-size:12px;}
.index-footer h1.footer-tit{font-size:14px;margin:20px 0 10px 0;font-weight:bold;}
.footer-left{float:left;padding-left:30px;width:268px;}
.footer-left ul{width:200px;}
.footer-left ul li{font-size:12px;float:left;width:100px;text-align:left;margin-bottom:8px;}
.footer-right{float:right;padding-right:30px;}
.footer-right ul li{text-align:right;}
/*便民服务*/
.service-block ul{margin-left:-20px;}
.service-block li{float:left;margin:0 0 20px 20px;}
.service-block li a{float:left;}
.service-block li img{border-radius:4px;}
.service-block a.btn{height:48px;line-height:48px;background-color:#f7f7f7;border-radius:4px;font-size:16px;color:#222 !important;margin:0;display:block;text-align:center;border:1px solid #f1f0f0;}
.service-block a.btn:hover{color:#107aee!important;}
.news-list li{height:130px;padding:20px 10px;overflow:hidden;border-bottom:1px solid rgba(221,221,221,.5);}
.news-list li img{width:180px;height:130px;}
.news-list li .fr{width:78%;}
.news-list li a:hover{color:#107aee;}
.news-list li h2{font-size:16px;line-height:35px;font-weight:bold;margin-bottom:2px;}
.news-list li p{line-height:22px;max-height:90px;overflow:hidden;font-size:12px;}
.news-list li p span{color:#e96d3c;}
/*个人中心*/
.news_ul li{clear:both;height:70px;border-bottom:1px dashed #e8e8e8;}
.news_ul li span.horn{display:block;width:36px;height:34px;background:url("../images/icon.png") -1px -34px no-repeat;float:left;margin:14px 8px 0px 4px;position:relative;}
.news_ul li span.horn em.num{position:absolute;right:0;top:-1px;width:8px;height:8px;border-radius:8px;background-color:#f00;display:inline-block;}
.news_ul li .news-text{font-size:16px;color:#1078ee;float:left;}
.news_ul li .news-text a.news-con{margin:17px 0 8px 0;display:block;}
.news_ul li .news-text a.news-con:hover{color:#1078ee !important;}
.news_ul li .news-text .date{font-size:12px;color:#999;}
.news_ul li .news-text .status{display:block;width:54px;height:16px;line-height:16px;text-align:center;font-size:12px;color:#fff;background:#4cb89e;}
.news_ul li .news-text .status.status1{background:#b88b4c;}
.news_ul li .news-text .status.status2{background:#a0b84c;}
.news_ul li .del-btn{display:none;}
.news_ul li:hover .del-btn{display:block;width:15px;height:16px;float:right;background:url("../images/icon.png") -1px -69px no-repeat;margin:28px 25px 0 0;}
.news_ul li:hover{background:rgba(34,122,214,0.1);border:none;}
.news_ul li:hover span.horn{margin-left:14px;}
/*服务外包*/
.block{width:460px;margin-bottom:24px;}
.block.w470{width:470px;}
.block.w958{width:958px;}
.block.mr30{margin-right:30px;}
.block.mr18{margin-right:18px;}
.block h3.title{font-size:16px;color:#107aee;border-left:3px solid #107aee;padding-left:10px;margin-top:10px;margin-bottom:10px}
.block h3.title .more{font-size:12px;color:#999;float:right;}
.block ul.list li{line-height:30px;clear:both;}
.block ul.list li span.dot{display:block;margin-top:12px;float:left;width:5px;height:5px;background:url("../images/dot.png")}
.block ul.list li a{font-size:14px;height:30px;color:#222;margin-left:10px;white-space:nowrap;width:400px;overflow:hidden;text-overflow:ellipsis;display:block;float:left;}
.block ul.list li .date{float:right}
.fwwb-ul li{float:left;;margin:0;padding:10px;}
.fwwb-ul li.fwwb-li1 a.fwwb-a{background:#f6ab01;}
.fwwb-ul li.fwwb-li2 a.fwwb-a{background:#7eb90b;}
.fwwb-ul li.fwwb-li3 a.fwwb-a{background:#257ada;}
.fwwb-ul li.fwwb-li4 a.fwwb-a{background:#ec6218;}
.fwwb-ul li.fwwb-li1:hover a.fwwb-a{background:#dd9a01；}
.fwwb-ul li.fwwb-li2:hover a.fwwb-a{background:#6fa20b;}
.fwwb-ul li.fwwb-li3:hover a.fwwb-a{background:#1b65b8;}
.fwwb-ul li.fwwb-li4:hover a.fwwb-a{background:#cb5413;}
.fwwb-ul li .fwwb-icon{width:127px;height:100px;background:url("../images/icon.png") 0px -85px no-repeat;margin:0 auto;}
.fwwb-ul li .fwwb-icon.icon1{background-position:0px -186px;}
.fwwb-ul li .fwwb-icon.icon2{background-position:0px -286px;}
.fwwb-ul li .fwwb-icon.icon3{background-position:0px -386px;}
.fwwb-ul li a.fwwb-a{color:#fff;text-align:center;display:block;width:450px;padding:40px 0px 26px 0px;border-radius:4px;}
.fwwb-ul li a.fwwb-a h1{font-size:22px;margin:16px 0;}
.fwwb-ul li a.fwwb-a p{font-size:12px;width:384px;margin:0 auto;line-height:16px;display:none;}
.fwwb-ul li:hover{padding:0;}
.fwwb-ul li:hover a{width:470px;margin:0;padding:20px 0px 18px 0px;}
.fwwb-ul li a.fwwb-a:hover p{display:block;}
/*服务外包-公共技术服务*/
.technology{border:1px solid #ddd;}
.technology h1.second-tit{font-size:14px;color:#222;text-align:center;margin-top:14px;}
.technology h1.second-tit span.line{border-bottom:1px solid #eee;width:66px;height:1px;margin:5px 10px;display:inline-block;}
.technology ul.technology-ul{border-bottom:1px solid #eee;margin-top:22px;}
.technology ul.technology-ul li{float:left;width:156px;text-align:center;}
.technology ul.technology-ul li em.icon{display:block;width:46px;height:46px;background:url("../images/icon.png") -129px 0px no-repeat;margin:0 auto;}
.technology ul.technology-ul li em.icon.icon1{background-position:-129px -46px;}
.technology ul.technology-ul li em.icon.icon2{background-position:-129px -92px;}
.technology ul.technology-ul li em.icon.icon3{background-position:-129px -138px;}
.technology ul.technology-ul li em.icon.icon4{background-position:-129px -184px;}
.technology ul.technology-ul li em.icon.icon5{background-position:-129px -230px;}
.technology ul.technology-ul li em.icon.icon6{background-position:-129px -276px;}
.technology ul.technology-ul li em.icon.icon7{background-position:-129px -322px;}
.technology ul.technology-ul li em.icon.icon8{background-position:-129px -368px;}
.technology ul.technology-ul li em.icon.icon9{background-position:-129px -414px;}
.technology ul.technology-ul li em.icon.icon10{background-position:-129px -460px;}
.technology ul.technology-ul li em.icon.icon11{background-position:-129px -506px;}
.technology ul.technology-ul li em.icon.icon12{background-position:-7px -506px;}
.technology ul.technology-ul li em.icon.icon13{background-position:-60px -506px;}
.technology ul.technology-ul li em.icon.icon14{background-position:0px -554px;}
.technology ul.technology-ul li em.icon.icon15{background-position:-46px -554px;}
.technology ul.technology-ul li em.icon.icon16{background-position:-92px -554px;}
.technology ul.technology-ul li em.icon.icon17{background-position:-138px -554px;}
.technology ul.technology-ul li p.title{font-size:14px;color:#555;margin:12px 0 18px 0;}
.technology .logo-ul{margin:10px 20px 20px 20px;}
.technology .logo-ul li{height:70px;line-height:70px;border:1px solid #f0f0f0;float:left;margin-right:9px;text-align:center;}
.technology .logo-ul li:last-child{margin-right:0;}
.technology .logo-ul li.w98{width:98px;}
.technology .logo-ul li.w206{width:206px;}
.technology .logo-ul li img{vertical-align:middle;}
/*服务外包-公共技术服务-图片轮播*/
.company_reports{position:relative;margin:10px 20px 20px 20px;}
.company_reports .slidebox{width:430px;overflow:hidden;}
.company_reports ul{width:9999em;}
.company_reports li{width:98px;float:left;margin-right:10px;height:70px;line-height:70px;border:1px solid #f0f0f0;text-align:center;}
.company_reports img{vertical-align:middle;}
.c-pointer{cursor:pointer;}
/*服务外包-综合政务*/
.column_con h3.tab-tit{font-size:16px;color:#222;line-height:50px;font-weight:bold;}
.signup-cont.apply-count .row label.title{color:#555;height:28px;line-height:28px;margin-right:4px;}
.signup-cont.apply-count .row label.title.w180{width:180px;}
.signup-cont.apply-count .row label.title.w160{width:160px;}
.signup-cont.apply-count .row label.title.w100{width:100px;}
.signup-cont.apply-count .row label.title.w94{width:94px;}
.signup-cont.apply-count .row label.title.w56{width:56px;}
.signup-cont.apply-count .row label.title.w66{width:66px;}
.signup-cont.apply-count .row .txt.w190{width:190px;}
.signup-cont.apply-count .row .txt.w80{width:80px;margin:0px 8px;}
.signup-cont.apply-count .row .txt.w80_1{width:80px;}
.signup-cont.apply-count .row .txt.w90{width:90px;}
.signup-cont.apply-count .row .txt.w100{width:100px;}
.signup-cont.apply-count .row .txt.w520{width:520px;}
.signup-cont.apply-count .row .txt{border:1px solid #b6b6b6;border-radius:inherit;height:28px;line-height:28px;}
.signup-cont.apply-count .row div.con-span{color:#222;font-size:14px;display:block;height:28px;line-height:28px;float:left;}
.signup-cont.apply-count .row div.con-span span{display:block;float:left;}
.signup-cont .row.row-new{height:82px;}
.signup-cont .row.row-new label.title{height:82px;}
.signup-cont .row.row-new .checkbox{margin-top:0;height:22px;line-height:14px;}
/*通知公告*/
#play{height:80px;overflow:hidden;width:960px;position:relative;}
#play_text{position:absolute;right:14px;bottom:6px;z-index:101;}
#play_text ul{overflow:hidden;}
#play_text ul li{background-color:#fff;cursor:pointer;display:inline-block;float:left;height:9px;width:9px;margin-left:8px;text-indent:-999em;}
#play_list a{display:block;height:80px;overflow:hidden;position:absolute;width:960px;}
.notice-block{margin-top:22px;}
#recommend{height:340px;overflow:hidden;width:522px;position:relative;float:left;}
#recommend_text{position:absolute;right:20px;bottom:15px;z-index:101;}
#recommend_text ul{overflow:hidden;}
#recommend_text ul li{background-color:rgba(247,247,247,.5);cursor:pointer;display:inline-block;float:left;height:8px;width:8px;margin-left:6px;text-indent:-999em;border-radius:8px;}
#recommend_list a{display:block;height:340px;overflow:hidden;position:absolute;width:522px;}
#recommend_info{color:#fff;cursor:pointer;height:43px;line-height:43px;padding:0 100px 0 13px;position:absolute;width:410px;z-index:100;background:url(../images/text_bg.png) repeat-x;font-size:20px;overflow:hidden;bottom:0;text-overflow:ellipsis;white-space:nowrap;}
.notice-list{width:415px;float:right;}
.notice-list h2.tit{height:18px;line-height:18px;margin:10px 0;}
.notice-list h2.tit span{border-left:3px solid #107aee;font-size:16px;color:#107aee;padding-left:10px;}
.notice-list h2.tit a.more{font-size:12px;color:#999;float:right;}
.notice-list h2.tit a.more:hover{color:#107aee;}
.column_con .notice-list ul.reports_ul{min-height:inherit;padding-bottom:0;border-bottom:none;}
.column_con .notice-list ul.reports_ul li{height:30px;line-height:30px;}
.column_con .notice-list ul.reports_ul li span.disc{margin:14px 10px 0 10px;}
.column_con .notice-list ul.reports_ul li a{width:270px;display:inline-block;}
.column_con .notice-list ul.reports_ul li span{display:inline-block;}
.article{border:1px solid #ddd;margin:20px 12px 0;padding:0 20px 30px;}
.article h2.tit{text-align:center;font-size:20px;color:#222;margin-bottom:5px;line-height:30px;padding:20px 30px 0;}
.article h2 span.time{display:block;font-size:12px;color:#999;line-height:25px;}
.article p img{margin:20px auto;max-width:780px;text-align:center;display:block;}
.article p{font-size:14px;line-height:30px;color:#222;}
.article p b{font-weight:bold;}
/*表单*/
ul.form{width:790px;margin:0 auto;}
ul.form li{line-height:30px;margin-bottom:10px;}
ul.form li label.tit{text-align:right;width:167px;display:inline-block;margin-right:8px;float:left;}
ul.form li label.tit em{color:#f00;font-weight:bold;margin-right:6px;vertical-align:middle;}
ul.form li input[type=text]{border:1px solid #b6b6b6;line-height:30px;width:384px;padding:0 8px;}
ul.form li input:focus{border-color:#0f77ef;}
ul.form li input.w300{width:284px;}
ul.form li input.w322{width:322px;}
ul.form li .select-input{border-color:#b6b6b6;border-radius:inherit;}
ul.form li textarea{border:1px solid #b6b6b6;line-height:24px;padding:8px;width:596px;height:122px;float:left;}
/*互动交流*/
.column_list .show{border:1px solid #ddd;padding:0px 20px;margin-top:20px;}
.column_list .show ul{border-bottom:1px dotted #eee;padding:18px 0;}
.column_list .show li{float:left;width:50%;line-height:24px;font-size:14px;}
.column_list .show li label{color:#777;}
.column_list .show .row{border-bottom:1px dotted #eee;padding:18px 0;font-size:14px;}
.column_list .show .row:last-child{border-bottom:none;}
.column_list .show .row h4{color:#777;line-height:24px;}
.column_list .show .row p{color:#222;line-height:22px;font-size:14px;margin:0;text-indent:24px;overflow-wrap:break-word;white-space:normal;word-break:break-all;}
.column_list .show .row .time{font-size:12px;color:#999;text-align:right;}
.column-cont.success-bg{background:url(../images/success.png) 200px 35px no-repeat;margin-top:38px;}
.column-cont.success-bg.fail{background:url(../images/fail.png) 200px 35px no-repeat;margin-top:38px;}
.column-cont.success-bg.fail h1{padding-top:8px;}
.column-cont.success-bg.success-bg h1{color:#222;font-size:18px;padding-left:292px;padding-top:38px;margin-bottom:11px;}
.column-cont.success-bg.success-bg p{color:#555;font-size:12px;padding-left:292px;margin-bottom:15px;}
.column-cont.success-bg.success-bg p span{color:#0184cd;font-size:14px;margin:0px 18px 0px 10px;}
.column-cont.success-bg.success-bg a.btn{margin-left:294px;padding:0 32px;height:36px;line-height:36px;}
.check-tips{border:1px solid #f7d0d4;background-color:#fbf0f1;padding:16px 20px;color:#b9555f;margin-top:20px;}
.check-tips span{font-size:16px;margin-bottom:10px;display:block;}
.question-block{position:relative;margin-top:25px;}
.question-block .con_time{background:url(../images/time_bg.png) no-repeat;height:68px;position:absolute;right:25px;top:-5px;width:68px;text-align:center;color:#fff;font-size:10px;}
.question-block .con_time span{display:block;padding:15px 0;font-size:12px;}
.question-block p{color:#555;font-size:14px;line-height:24px;margin-bottom:15px;overflow-wrap:break-word;white-space:normal;word-break:break-all;}
.question-block p.tit{margin-bottom:25px;}
.question-block p.con_title{font-size:20px;color:#333;text-align:center;width:550px;margin:0 auto 10px;}
.question-block p.con_publishtxt{font-size:12px;color:#999;text-align:center;}
.question-block p.top{font-size:14px;color:#222;line-height:22px;padding:0 18px;}
.question-block p.top a{color:#0184cd;}
.question-block dl.list{padding:10px 18px;color:#222;font-size:14px;}
.question-block dl.list dt{font-weight:bold;line-height:22px;padding-left:48px;position:relative;}
.question-block dl.list label.tit{display:inline-block;left:0;position:absolute;width:48px;text-align:right;}
.question-block dl.list dt em{color:#f00;display:inline-block;width:16px;text-align:left;}
.question-block dl.list dd{margin:10px 0 15px 48px;}
.question-block dl.list dd textarea{border:1px solid #c7c7c7;padding:10px;line-height:22px;height:47px;width:97%;}
.question-block .btn-box{text-align:center;padding:30px 0;border-top:1px solid #f5f5f5;}
.question-block .btn-box a{display:inline-block;margin:0 5px;}
