<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="CONSOLE_APPENDER" />
	</root>
	
	<logger name="cn.com.hugedata.spark" level="debug">
	</logger>
	
</configuration>